/* body styles */
body {
    background-color: #b1b5be;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header styles */
header {
    background-color: #9f2063;
    padding: 10px;
    margin: 20px 20px 5px 20px;
    border-radius: 10px;
}

/* content container*/
.content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* main styles */
main {
    background-color: #22b778;
    padding: 10px 0;
    margin: 5px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    flex: 1;
}

/* article styles */
article {
    background-color: #e4195b;
    padding: 40px;
    margin: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* aside styles */
aside {
    background-color: #116395;
    font-size: 22px;
    padding: 10px;
    margin: 5px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer styles */
footer {
    background-color: #e06b26;
    padding: 10px;
    margin: 5px 20px 20px 20px;
    border-radius: 10px;
}

/* media query for larger screens */
@media screen and (min-width: 768px) {
    
    /* content-container styles */
    .content-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* aside styles */
    aside {
        order: 1;
        width: 300px;
    }

    /* main styles */
    main {
        order: 2;
        margin: 5px 20px 5px 0;
        flex: 1; /* takes up remaining space after aside */
    }
}